   
    /*   reset   */

    html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: Arial, sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
}


/*   ebay   */
h4{
      font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}
.header{
	display: block;
	width: 100%;
	overflow: hidden;
	text-align: center;
	margin: 0;
	padding: 0;
	
}
.hup{
	max-width: 1200px;
	margin: auto;
	padding: 10px;
	display: block;
	overflow: visible;
	position: relative;
}
.logo{
   overflow: hidden;
   float: left;
   width: 25%;
   display: block;
 


}
.logo img{
	width: 100%;
	display: block;
	overflow: hidden;
	border: none;
}
.head-info{
	width: 40%;
	float: left;
	overflow: hidden;
    display: block;
    position: relative;
}
.head-right{
	 width: 35%;
	 overflow: hidden;
	 float: right;
	 display: block;
	 position: relative;
}
.clearfix{
	display: block;
	content: "";
	clear: both;
	height: 0;

}
.c-pages{
	padding: 1.7em 0;
	display: block;
	overflow: visible;

}
.c-pages a{
	color: #023f87;
	font-size: 14px;
	margin: 0.4em;

}
.phone{
	max-width: 270px;
	display: block;
	text-align: center;
	margin: auto;

}
.phone h6{
  font-size: 35px;
  font-weight: bold;
  color: #227cb7;
}
.phone p{
  font-size: 15px;
  color: #227cb7;
  font-weight: bold;
  font-style: italic;
}
.phone img{
	width: 100%;
	overflow: visible;
  max-width: 35px;
}
.payment{
	padding: 1.7em 0;
	display: block;overflow: visible;
	max-width: 284px;
	text-align: center;
	margin: auto;
	}
.payment img{
	width: 100%;
	}

.search{
	display: block;
	overflow: visible;
	max-width: 284px;
	margin: 1.1em auto;
}
.search form{
	width: 100%;
	position: relative;
	overflow: visible;
	margin: auto;
	background-color: #FFF;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #ccc;
  padding-left: 10px;
	height: 32px;

}

.form-f{
   border:none;
   color: #ccc;
   display: block;
   overflow: hidden;
   position: absolute;
   padding: 0;
   height: 30px;

}
.form-b{
   border:none;
   display: block;
   position: absolute;
   overflow: hidden;
   height: 17px;
   right: 6px;
     background: url(../images/search.png) transparent no-repeat 0 0;
     width: 20px;
     top: 5px;
}
.hide-text{
	text-indent: 200%;
	white-space: nowrap;
	overflow: hidden;
}
.cat-mobile{
	display: none;
}
/* responsive navigation */


h1 {
  font-size: 60px;
  color: #FFF;
} 

h3 {
  font-size: 30px;
  line-height: 34px;
  color: #FFF;
}

h3 a {
  color: #FFF;
}

a {
  color: #FFF;
}

h1 {
  margin-top: 100px;
  font-size:60px;
  line-height: 70px;
  }

#container {
  margin: 0 auto;
  max-width: 890px;
}

.toggle,
[id^=drop] {
  display: none;
}

/* Giving a background-color to the nav container. */
nav { 
  margin:0;
  padding: 0;
  background-color: #217ebb;
}



/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
  content:"";
  display:table;
  clear:both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
  float: right;
  padding:0;
  margin:0;
  list-style: none;
  position: relative;
  }
  
/* Positioning the navigation items inline */
nav ul li {
  margin: 0px;
  display:inline-block;
  float: left;
  background-color: #217ebb;
  }

/* Styling the links */
nav a {
  display:block;
  padding:14px 20px;  
  color:#FFF;
  font-size:17px;
  text-decoration:none;
}
nav label{
	background-color: #217ebb !important;
}


nav ul li ul li:hover { background: #000000; }

/* Background color change on Hover */
nav a:hover { 
  background-color: #000000; 
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
  display: none;
  position: absolute; 
  /* has to be the same number as the "line-height" of "nav a" */
  top: 60px; 
}
  
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
  display:inherit;
}
  
/* Fisrt Tier Dropdown */
nav ul ul li {
  width:170px;
  float:none;
  display:list-item;
  position: relative;
}

/* Second, Third and more Tiers 
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul li {
  position: relative;
  top:-60px;
  /* has to be the same number as the "width" of "nav ul ul li" */ 
  left:170px; 
}

  
/* Change ' +' in order to change the Dropdown symbol */
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }


/* Media Queries
--------------------------------------------- */

@media all and (max-width : 820px) {



  nav {
    margin: 0;
        background: #217ebb;
  
  }

  /* Hide the navigation menu by default */
  /* Also hide the  */
  .toggle + a,
  .menu {
    display: none;
  }

  /* Stylinf the toggle lable */
  .toggle {
    display: block;
    background-color: #217ebb;
   	background: url('../images/menu.png') 30px center no-repeat #48526c;
    padding:20px 90px;
    text-transform: uppercase;  
    color:#FFF;
    font-size:20px;
    text-decoration:none;
    border:none;
  }

  .toggle:hover {
    background-color: #000000;
  }

  /* Display Dropdown when clicked on Parent Lable */
  [id^=drop]:checked + ul {
    display: block;
  }

  /* Change menu item's width to 100% */
  nav ul li {
    display: block;
    width: 100%;
    }

  nav ul ul .toggle,
  nav ul ul a {
    padding: 0 40px;
  }

  nav ul ul ul a {
    padding: 0 80px;
  }

  nav a:hover,
  nav ul ul ul a {
    background-color: #000000;
  }
  
  nav ul li ul li .toggle,
  nav ul ul a,
  nav ul ul ul a{
    padding:14px 20px;  
    color:#FFF;
    font-size:17px; 
  }
  
  
  nav ul li ul li .toggle,
  nav ul ul a {
    background-color: #212121; 
  }

  /* Hide Dropdowns by Default */
  nav ul ul {
    float: none;
    position:static;
    color: #ffffff;
    /* has to be the same number as the "line-height" of "nav a" */
  }
    
  /* Hide menus on hover */
  nav ul ul li:hover > ul,
  nav ul li:hover > ul {
    display: none;
  }
    
  /* Fisrt Tier Dropdown */
  nav ul ul li {
    display: block;
    width: 100%;
  }

  nav ul ul ul li {
    position: static;
    /* has to be the same number as the "width" of "nav ul ul li" */ 

  }

}

@media all and (max-width : 330px) {

  nav ul li {
    display:block;
    width: 94%;
  }

}
/*  left cats   */
.left-cat{
	width: 20%;
	max-width: 13.75em;
	float: left;
	display: block;
	position: relative;

}
.cat-head{
	width: 100%;
	height: 42px;
	 background: #06498f; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#1c7cb9, #06498f); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#1c7cb9, #06498f); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#1c7cb9, #06498f); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#1c7cb9, #06498f); /* Standard syntax */
    border-top-right-radius: 10px;
    border-top-left-radius:10px;
}
.cat-head p{
	color: #fff;
	font-size: 14px;
	padding: 0.9em;
	display: block;

}
.cat-names{
	margin-top: 8px;
}
.cat-names a{
	color: #06498f;
	padding: 0.9em;
	display: block;
	font-size: 14px;
}
.cat-names a:hover{
	background-color: #2180bd;
	color: #fff;
}
.pay-pal-left{
	width: 94%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    
}
.pay-pal-left img{
	width: 100%;
}


/*  item  */

.right-cont{
	width: 80%;
	max-width: 59.75em;
	float: right;
	display: block;
	position: relative;

}
.item-left-side{
    display: block;
    float: left;
    width: 57%;
    
}
.item-right-side{
    display: block;
    float: right;
    width: 40%;
    
}
.item-img{
	    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 4.5em 1.5em;
    margin-left: 5px;
}
.item-img img{
	width: 100%;
}
.title{
	font-size: 25px;
	font-weight: bold;
	color: #023f87;
	display: block;
}
.price{
	display: block;
	background: url(../images/lable.png) transparent no-repeat 0 0 ;
	overflow: visible;
	padding: 4.5em;
	position: relative;
	background-repeat:no-repeat;
background-size:contain;
background-position:center;

	
}
.price p{
	
	padding: 0 3.4em;
	color: #fff;
	font-size: 34px;
}
.price button{
	cursor: pointer;
	margin-bottom: 1.1em;
    margin: 0.5em 7em;
    width: 7em;
    height: 32px;
	color: #fff;
	font-size: 1em;
	 background: #fdc636; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fdce53, #fdbf1a); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fdce53, #fdbf1a); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fdce53, #fdbf1a); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fdce53, #fdbf1a); /* Standard syntax */
    border-radius: 5px;
    border:1px solid #fdce53 ;
	
}

.ttl-normal{border-bottom: 1px solid #023f87;}
#descr{
    color: #023f87;
    font-size: 17px;
    font-weight: bold;
    margin: 8px 0;
}
.ttl-pod{
   font-size: 12px;
   font-weight: bold;
   color: #000;
   margin: 8px 0;
}
.description-itm p{
	font-size: 12px;
	color: #000;
	line-height: 18px;
}
.inner-desc{
	min-height:270px; 
	
	
}
.caution-field{
	display: block;
	width: 97%;
	overflow: hidden;

}
.caution-field img{
	display: block;
   margin: 10px auto;
}
.caution-field p{
	font-size: 12px;
	color: #000;
	line-height: 12px;
	margin: 20px;
}

.blank-field{
	margin: 16px 0;
	border:1px solid #ccc;
	border-radius: 5px;
	-webkit-box-shadow: 10px 10px 26px 3px rgba(0,0,0,0.09);
  -moz-box-shadow: 10px 10px 26px 3px rgba(0,0,0,0.09);
   box-shadow: 10px 10px 26px 3px rgba(0,0,0,0.09);
   padding: 10px;
   width: auto;
}
.tech-spec{
	display: block;
	position: relative;
    margin-bottom: 20px;

}
.tech-spec h2{
	font-size: 24px;
	color: #000;
	padding: 10px 0;
	border-bottom: 5px solid #bbb;
}
.tech-spec table{
	display: block;
	width: 100%;
	padding: 10px;

}

.tech-spec table tr p{
	padding: 10px 4em;
}


.tayna-banner{
	max-width: 1200px;
	width: 100%;
}
.tayna-banner img{
	width: 100%;
}

/*   responsive styles */


@media screen and (max-width: 1020px) {
    .price p {
       padding: 0 2.4em;
       padding-right: 0 !important;
    }
    .price button{
    	margin: 0.5em 4.5em;
    	margin-right: 0 !important;
    }
    .price{
    	padding: 2.5em;
    }
    .caution-field img{
    	height: 5em;
    }
}
@media screen and (max-width: 820px) {
  .cat-mobile{
  	display: block;
  }
 
  .left-cat{
  	display: none;
  }
  .right-cont{
  	width: 100%;
  }
  
}
@media screen and (min-width: 620px) and (max-width: 720px)  {
  .tech-spec table tr p {
    padding: 10px 3em;
}
}
@media screen and (max-width: 640px) {
label span{
	font-size: 12px !important;
}
}
@media screen and (max-width: 625px) {
   .item-left-side,.title,.price,.item-left-side,.item-right-side,.logo,.head-info,.head-right{
   	float: none;
   	display: block;
   	width: 100%;
   }
   .inner-desc{
   	overflow: visible;
   }
   .title{
   	margin: 15px auto;
   }
   .logo{
   	width: 70%;
   	margin: 0 auto;
   }
   .price p{
   	padding: 0 7em;
   	padding-right: 0 !important;
   }
   .price button{
   	margin: 0.5em 14.5em;
   	margin-right: 0 !important;
   }
   .caution-field img {
    display: block;
    margin: 10px 15px;
    float: left;
}
.c-pages a{
	line-height: 28px;
}
section p {
    font-size: 12px !important;
    line-height: 18px !important;
}
}


@media screen and (max-width: 480px) {
label span{
	font-size: 10px !important;
}
     .price p{
   	padding: 0 5em;
   	padding-right: 0 !important;
   }
   .price button{
   	margin: 0.5em 10em;
   	margin-right: 0 !important;
   }
}
@media screen and (max-width: 420px) {
label span{
	font-size: 9px !important;
}
label{
	height: 60px;
}
}
@media screen and (max-width: 400px) {
.tech-spec table tr p {
    padding: 10px 0;
}
.hbrel_limit {
    min-width: 97% !important;
}
}
@media screen and (max-width: 360px) {
   .price p{
   	padding: 0 2.5em !important;
   	padding-right: 0 !important;
   }
   .price button{
   	margin: 0.5em 5.5em !important;
   	margin-right: 0 !important;
   }
}
@media screen and (max-width: 280px) {
   .price p{
   font-size: 24px;
   }
   .price button{
   font-size: 10px;
   }
}


/*   responsive tabs css  */

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}




a {
  color: #ccc;
  text-decoration: none;
  outline: none;
}

/*Fun begins*/
.tab_container {
	width: 100%;
	margin: 0 auto;
	padding-top: 30px;
	position: relative;
}

input, section {
  clear: both;
  padding-top: 10px;
  display: none;
}

.tayna-tabs label {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  display: block;
  float: left;
  width: 25%;
  padding: 0.8em;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
   background: #217ebb; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#217ebb, #235b9e); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#217ebb, #235b9e); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#217ebb, #235b9e); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#217ebb, #235b9e); /* Standard syntax */
    border-right: 1px solid #fff;
}
.tayna-tabs label span{
	font-size: 18px;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
  display: block;
  padding: 20px;
  background: #fff;
  color: #000;
  border-bottom: 2px solid #f0f0f0;

}

.tab_container .tab-content p,
.tab_container .tab-content h3 {
  -webkit-animation: fadeInScale 0.9s ease-in-out;
  -moz-animation: fadeInScale 0.9s ease-in-out;
  animation: fadeInScale 0.9s ease-in-out;
}
.tab_container .tab-content h3  {
  text-align: center;
}

.tab_container [id^="tab"]:checked + label{
  background: #fff;
  color: #000;

}

.tab_container [id^="tab"]:checked + label .fa {
  color: #0CE;
}
section p{
	font-size: 14px;
	line-height: 20px;
}



/*Media query*/
@media only screen and (max-width: 930px) {
  label span {
    font-size: 14px;
  }
 
}

@media only screen and (max-width: 768px) {
  label span {
    font-size: 12px;
  }

 .tab_container {
    width: 98%;
  }
  .hbrel_limit{
  	width: 50% !important;
  }
}

/*Content Animation*/
@keyframes fadeInScale {
  0% {
  	transform: scale(0.9);
  	opacity: 0;
  }
  
  100% {
  	transform: scale(1);
  	opacity: 1;
  }
}

/* you may also like */
.hbrel_mel{
    display: block;
    width: 100%;
    max-width: 1200px;
    overflow: visible;

}
.hbrel_limit{
    display: block;
    float: left;
    padding: 20px 10px 20px 10px;
    margin: 0 auto;
    width: 25%;	
     background-color: #fafafa;
     height: 350px;
}
.cpa,.basics,.fixed tr td img,.time2{
	display: none;
}
.image{
	margin: 0 auto;
}
.ttl a{
	color: #000;
	font-size: 13px;
	text-transform: uppercase;


}
.ttl{
	padding: 12px;
   max-height: 60px;
   margin-bottom: 42px;
}
.stp{
	text-decoration: line-through;
  display: none;
}
.bin{
	color: #cf111f;
	font-weight: bold;
}
.fixed{
	margin: 0 auto;
	margin-top: 15px;
}
.like-ttl{
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 18px !important;
}
.you-may-also-like .cat-head{
	height: 49px !important;
}
.buy-btn{
  background: url(../images/button.png) transparent no-repeat 0 0;
    border-radius: 6px;
        padding: 15px 26px;
    color: #fff;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    width: 135px;
    height: 38px;
    margin-top: 20px;
  
}
.buy-btn:hover{
-webkit-box-shadow: 10px 11px 37px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 11px 37px -8px rgba(0,0,0,0.75);
box-shadow: 10px 11px 37px -8px rgba(0,0,0,0.75);

}
.b-hidden{
  display: none;
}
